<!--include header-->
<%- include('include/_header') %>
<!--include header-->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Items</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Update Item</h2>
            <span class="text-light">Use the below form to update an Item</span>
        </div>

        <!--include item form-->
        <!-- form handling -->
        <form method="POST" id="update_user">
            <div class="new_item">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="<%= item._id %>">
                    <input type="text" name="name" value="<%= item.name %>" placeholder="Jordan 11's">
                </div>

                <div class="form-group">
                    <label for="description" class="text-light">Description</label>
                    <input type="text" name="description" value="<%= item.description %>" placeholder="Good Shoe. 10/10!">
                </div>

                <div class="form-group">
                    <label for="price" class="text-light">Price</label>
                    <input type="text" name="price" value="<%= item.price %>" placeholder="$99.99">
                </div>

                <div class="form-group">
                    <label for="in-stock" class="text-light">In Stock</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-1" name="stock" value="Available" <%= item.stock == 'Available' ? 'checked' : '' %>>
                        <label for="radio-1" class="radio-label">Available</label>  
                    </div>

                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="stock" value="Unavailable" <%= item.stock == 'Unavailable' ? 'checked' : '' %>>
                        <label for="radio-2" class="radio-label">Unavailable</label>  
                    </div> 
                </div>

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>

    </div>
</main>
<!-- Main Site -->

<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->